:root {
    --primary-color: white;
    --secondary-color: teal;
    --tertiary-color: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.display {
    display: none;
}

/* header section */
/* NEED TO ADD HOVER TO 'View High Scores'*/
.high-score {
    padding: 15px;
    display: inline-flex;
    justify-content: flex-start;
    width: 50%
}

#timer {
    padding: 15px;
    display: inline-flex;
    justify-content: flex-end;
    width: 49%;
}

/* intro section */
.intro-section p {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25%;
    margin-right: 25%;
}

.btn, .answers, #submit, #go-back {
    background-color: blueviolet;
    color: white;
    padding: 8px 10px;
    border: 0;
    font-size: 1rem;
    display: flex;
    border-radius: 4px;
}

.btn {
    justify-content: center;
    display: flex;
    margin: auto;
}

.quiz-title, #question-title {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

/* question section */
#question-title {
    margin-left: 25%;
    margin-right: 25%;
}

ul {
    margin-top: 15px;
    margin-left: 25%;
    margin-right: 25%;
    list-style-type: none;
}

li:not(:last-child) {
    margin-bottom: 10px;
}

#border {
    margin-left: 25%; 
}

#answers {
    margin-left: 25%;
}

/* high score section */
#all-done {
    margin-left: 25%;
}

#final-score {
    margin-left: 25%;
}

.initial-entry {
    margin-left: 25%;
    line-height: 50px;
}

/* score results section */
.dashboard-section {
    margin-left: 25%;
}

#score-title {
    margin-left: 25%;
}

#go-back {
    margin-top: 15px;
}